# Ignore random stuff non important from hive's perspective
.git

# Ignore any local build artifacts and runtime caches
hive
workspace
**/.vs
**/.git
**/.gitignore
**/node_modules
**/npm-debug.log
**/artifacts
.DS_Store
